div.header-bg {
    background-image: url('../img/header-background.png');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 0;
    padding: 0;

    position: relative;
    padding-bottom: 69%;
}

img.header-logo {
    height: 11.94vw;
    width: 8vw;

    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.header-title {
    color: #2d3142;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 6vw;
    text-align: center;
    text-shadow: 2px 2px 2px #000;

    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

div.header-slogan {
    color: #d34746;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    text-align: center;
    position: absolute;
    bottom: 6vw;
    width: 100%;
}

img.header-slogan-heart {
    width: 3vw;
    height: 2.76vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    display: block;
}

div.product {
    width: 100%;

    position: relative;
}

div.product-questit {
    background-color: #f8f8f8;
    margin-top: -1vw;
    height: 40vw;
}

div.product-title {
    position: absolute;
    top: 6vw;
    width: 100%;
}

img.product-logo {
    width: 12vw;
    height: 12vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.product-name {
    color: #2d3142;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 4vw;
    margin-top: 1vw;
}

div.product-version {
    color: #d34746;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

div.product-questit-slogan-1 {
    color: #2d3142;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    margin-top: 2vw;
}

div.product-questit-slogan-2 {
    color: #9b9b9b;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5vw;
}

div.product-hourglass {
    background-color: #ffffff;
    height: 35vw;
    opacity: 0.5;
}

div.subscribe {
    background-color: #f8f8f8;
    height: 30vw;
    position: relative;
}

div.subscribe-title {
    color: #2d3142;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 4vw;

    position: absolute;
    margin-top: 2vw;
    width: 100%;
}

div.subscribe-subtitle {
    color: #2d3142;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    margin-top: 1vw;
}

input.subscribe-form {
    min-width: 80px;
    min-height: 25px;
    max-height: 43px;
    width: 60vw;
    height: 5vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
}

.btn-primary {
    padding-left: 4vw;
    padding-right: 4vw;
    background-color: #428bca;
    border-color: #357ebd;
}

.btn-primary:hover {
    background-color: #428bca;
    border-color: #357ebd;
}

button.subscribe-button {
    margin-top: 0.5vw;
}
